#affordable {
	margin-top: 10px;
}

#affordable-container {
	display: flex;
	margin-top: 20px;
}

#affordable-title {
	color: #00aa7f;
}

.affordable {
	height: 160px;
	width: 100%;
	border: #E8E8E8 solid 1px;
	padding: 20px 10px 20px 20px;
}

.affordable-title {
	text-decoration: none;
	font-size: 16px;
	font-weight: 100;
	color: #000;
}

.affordable-title:hover {
	color: #FF2A00;
}

.affordable-content {
	margin-top: 20px;
	height: 120px;
	width: 120px;
	background: #00aa7f;
}

.right-affordable {
	float: right;
	margin-top: 50px;
}

.affordable-introduce1 {
	font-size: 16px;
	font-weight: 400;
}

.affordable-introduce2 {
	font-size: 14px;
	color: gray;
	margin-bottom: 20px;
}

.affordable-link {
	text-decoration: none;
	font-size: 12px;
	color: #FF2A00;
	display: block;
	border: #FF2A00 solid 1px;
	text-align: center;
	width: 70px;
	height: 22px;
	line-height: 22px;
	border-radius: 12px;
}

#hot {
	margin-top: 10px;
}

#hot-title {
	color: #FF2A00;
	margin-bottom: 20px;
}

.hot-label {
	margin: 0 5px;
	color: gray;
	text-decoration: none;
}

.hot-label:hover {
	color: #FF2A00;
}

#hot-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.hot {
	padding: 20px;
	border: #E8E8E8 solid 1px;
}

.hot-content {
	width: 196px;
	height: 196px;
	background: #FF2A00;
}

.hot-title {
	display: block;
	margin: 10px 0;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	word-wrap: break-word;
	width: 196px;
	height: 38px;
}

.hot-comment,
.hot-collect {
	display: inline-block;
	text-decoration: none;
	color: gray;
	margin-bottom: 18px;
	font-size: 10px;
}

.hot-new-price {
	text-decoration: none;
	color: #FF2A00;
}

.price {
	font-size: 20px;
}

.hot-old-price {
	text-decoration: line-through;
	color: gray;
}

.hot-old-price:hover {
	text-decoration: none;
}

.sales {
	text-decoration: none;
	color: gray;
	float: right;
	margin-top: 9px;
}

#hot-ad-container {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.hot-ad {
	height: 136px;
	width: 371px;
	background: #FF2A00;
	border: #fff solid 2px;
}

.hot-ad:hover {
	border: #FF2A00 solid 2px;
}